{%- liquid
if customer
    if customer.email
        assign c_id = customer.email
    else
        assign c_id = customer.id
    endif
else
    assign c_id = "guest"
endif
assign fontSize = 20
assign color = "#000000"
assign labelBeforeAdd = "Add to wishlist"
assign labelAfterAdd = "Added to wishlist"

assign showCount = true
assign count = 1

-%}
<div>
  {%- liquid
    assign productsArray = app.metafields.myWishlistApp.wishlist | split: c_id
    assign productsArray = productsArray[1] | split: ':["'
    assign productsArray = productsArray[1]
    assign productsArray = productsArray | split: '"]'
    assign productsArray = productsArray[0]
    assign productsArray = productsArray | split: '","'

    assign product_id = block.settings.product.id | times: 1

    assign product_count = app.metafields.myWishlistApp.wishlist | split: '"products":{'
    assign product_count = product_count[1] | split: product_id
    assign product_count = product_count[1] | split: '":'
    assign product_count = product_count[1] | split: ','
    assign product_count = product_count[0] | times: 1

    assign added = ""
    for p in productsArray
      assign pid = p | times: 1
      if pid == product_id
        assign added = " added"
      endif
    endfor
-%}

  <div
    data-product-id="{{- block.settings.product.id -}}"
    data-product-title="{{- block.settings.product.title -}}"
    data-product-handle="{{- block.settings.product.handle -}}"
    data-product-featruredImage="{{- block.settings.product.featured_image | image_url: width: "400" -}}"
    data-product-variantId="{{- block.settings.product.first_available_variant.id -}}"
    data-product-variantPrice="{{- block.settings.product.first_available_variant.price -}}"
    data-product-available="{{- block.settings.product.available -}}"

    class="wishlist-btn-{{ block.id }} mywishlistapp-btn{{ added }}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
    </svg>

    <div>
      <span class="btnTxt"
        data-label="{{ labelBeforeAdd }}"
        data-label-added="{{ labelAfterAdd }}"
      >
        {%- unless added == "" -%}
          {{- labelAfterAdd -}}
        {%-  else -%}
          {{- labelBeforeAdd -}}
        {%- endunless -%}
      </span>
      {%- if showCount -%}
        <span class="my-wishlistapp-product-count" data-product-id="{{- block.settings.product.id -}}">
          ( {{- product_count -}} )
        </span>
      {%- endif -%}
    </div>
  </div>
</div>

<style>
.wishlist-btn-{{ block.id }}{
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.wishlist-btn-{{ block.id }} svg{
  width: {{ fontSize }}px;
  stroke: {{ color }};
}
.wishlist-btn-{{ block.id }} div{
  font-size: {{ fontSize }}px;
}

.mywishlistapp-btn.added svg{
  fill: {{ color }};
}
</style>

<script>
  addEventListener("DOMContentLoaded", (e) => {
    document.querySelector(".wishlist-btn-{{ block.id }}").addEventListener("click",wishlistActionClickHandler)
  })
</script>
{% schema %}
{
  "name": "Wishlist Button",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true }
  ]
}
{% endschema %}